        <nav class="navbar bg-info bg-gradient navbar-expand-lg" data-bs-theme="dark">
            <div class="container"> 
                <a class="navbar-brand" href="/">SISTEMA WEB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                         <a class="nav-link" href="/segunda_pagina">Página2</a>
                        <a class="nav-link" href="/terceira_pagina">Página3</a>
                        <a class="nav-link active" aria-current="page" href="/">Cadastrar</a>
                        <a class="nav-link" href="/consulta">Consultar</a>
                    </div>
                </div>
            </div>
        </nav>
    
<div style="padding-left:16px">
    <br><br>
  <h2>2 - Crie uma aplicacao web com Node.JS implementando os seguintes itens:</h2>
<ul>
  <li>Express</li>
  <li>Rotas</li>
  <li>Handlebars</li>
</ul>
</div>